{{#if isForm}}
  <td>
    {{input
      type='checkbox'
      checked=isSelected
    }}
  </td>
{{/if}}
<td>
  <button class='styless-button' {{action 'showModal' 'facts.show' fact }} >
    {{fact.title}}
  </button>
</td>
<td>
  <button class='styless-button' {{action 'showModal' 'facts.show' fact }} >
    {{markdown-section content=fact.description}}
  </button>
</td>
<td>
  <button class='styless-button' {{action 'showModal' 'facts.show' fact }} >
    {{ago fact.start_date}}
  </button>
</td>
