{{#liquid-if isCreating}}
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-12'>
          <div class="form-group">
            <label for="first_name">Title</label>
            {{input
              type='text'
              value=newTitle
              placeholder='Fact Title'
              class='form-control'
              }}
          </div>
        </div>
        <div class='col-md-12'>
          <div class="form-group">
            <label for="middle_name">Description</label>
            {{textarea
              value=newDescription
              class='form-control'
              }}
          </div>
        </div>
        <div class='col-md-6'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='map-picker-wrapper'>
                {{ol3-map-picker action='setLngLat'}}
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-6'>
              <div class="form-group">
                <label for="lat">Latitude</label>
                {{newLat}}
              </div>
            </div>
            <div class='col-sm-6'>
              <div class="form-group">
                <label for="lng">Longitude</label>
                {{newLng}}
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class="form-group">
            <label for="start_date">Start Date</label>
            {{bootstrap-datepicker
              value=newStartDate
              startView=2
              autoclose=true
              placeholder='Start Date'
              class='form-control'
              }}
          </div>
          <div class="form-group">
            <label for="end_date">End Date</label>
            {{bootstrap-datepicker
              value=newEndDate
              startView=2
              autoclose=true
              placeholder='End Date'
              class='form-control'
              }}
          </div>
          <div class="form-group">
            <label for="additional_info_link">Link to Additional Information</label>
            {{input
              type='text'
              value=newAdditionalInfoLink
              placeholder='Link to Additional Information'
              class='form-control'
              }}
          </div>
          <div class="form-group">
            <label for="tag_list">Tags</label>
            {{input
              type='text'
              value=newTagList
              placeholder='Comma-separated list of tags'
              class='form-control'
              }}
          </div>
          <div class="form-group">
            <button class='btn btn-primary create-new-fact-button' {{action 'createFact'}}>Create Fact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/liquid-if}}
<button class='btn btn-primary btn-fab btn-add {{if isCreating "mdi-content-remove" "mdi-content-add"}}' {{action 'toggleCreating'}}>
</button>
