<div class="panel-body">
  <h4>
    {{fact.title}}
  </h4>
  <hr>
  <div class='markdown-section'>
    {{markdown-section content=fact.description}}
  </div>
  <div class='fact-actions'>
    <button class='styless-button' {{action 'showModal' 'facts.show' fact }} >
      <p>
        {{moment fact.start_date 'MM/DD/YYYY'}}
      </p>
    </button>
    {{#if isForm}}
      <button {{action 'selectFact'}} class='styless-button pull-right'>
        {{if isSelected 'Remove From Curriculum' 'Add this to Curriculum'}}
      </button>
    {{/if}}
  </div>
</div>
