<td>
  {{input
    type='checkbox'
	  checked=isSelected
  }}
</td>
<td>
  <button {{action 'showModal' 'facts.show' fact}}>
    {{fact.title}}
  </button>
</td>
<td>
  {{fact.description}}
</td>
<td>
  {{ago fact.start_date}}
</td>
