<div class="panel-body clickable" {{action 'showModal' 'facts.show' fact}}>
  {{#unless isEditing}}
    <ul class="tags">
      {{#each fact.tag_list as |tag i|}}
        <li class="tag-{{i}}">
          #{{tag}}
        </li>
      {{/each}}
    </ul>
  {{/unless}}
  <h4>
    {{#if isEditing}}
      {{input
        class='form-control'
        bubbles=false
        value=fact.title}}
    {{else}}
      {{fact.title}}
    {{/if}}
  </h4>
  <hr>
  <div class='markdown-section'>
    {{#if isEditing}}
      {{textarea
        value=fact.description
        class='form-control'
        bubbles=false
      }}
      {{textarea
        value=justTheTags
        class='form-control'
        bubbles=false
      }}
    {{else}}
      {{markdown-section content=fact.description}}
    {{/if}}
  </div>
  <div class='fact-actions'>
    <p>
      {{fact.formattedDate}}
    </p>
    {{#if isForm}}
      <button {{action 'selectFact' bubbles=false}} class='styless-button pull-right'>
        {{if isSelected 'Remove From Curriculum' 'Add this to Curriculum'}}
      </button>
    {{/if}}
    {{#if myFacts}}
      <div class='edit-facts'>
        <button class='btn btn-primary' {{action 'toggleEdit' fact bubbles=false}}>
          {{#if isEditing}}
            Update Fact
          {{else}}
            Edit Fact
          {{/if}}
        </button>
        {{#if isEditing}}
          <button class='btn btn-accent' {{action 'cancel' fact bubbles=false}}>
            Cancel
          </button>
        {{else}}
          {{#if isDeleting}}
            <button class='btn btn-primary' {{action 'confirmDelete' fact bubbles=false}}>
              Are You sure?
            </button>
          {{else}}
            <button class='btn btn-primary' {{action 'toggleDeleting' fact bubbles=false}}>
              Delete Fact
            </button>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
