<ul class="nav navbar-nav navbar-right">
  {{#if session.isAuthenticated}}
    <li class="dropdown">
      <button class="styless-button dropdown-toggle">
        {{current_user.fullName}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          {{link-to 'Account Dashboard' 'account'}}
        </li>
        <li>
          {{link-to 'Subscription' 'account.subscription'}}
        </li>
      </ul>
    </li>
    <li>
      <a {{action 'invalidateSession'}}>Logout</a>
    </li>
  {{else}}
    {{#link-to 'session.new' tagName='li' href=false}}
      {{#link-to "session.new"}}Login{{/link-to}}
    {{/link-to}}
    <li>
      <a href='https://signup.historyseeker.com/charges/new'>
        Sign Up
      </a>
    </li>
  {{/if}}
</ul>
