<div class="panel-body">
  <div class='row'>
    <div class='col-md-4'>
      <div class="form-group">
        <label class='sr-only' for="first_name">First Name</label>
        {{input
        type='text'
        value=newFirstName
        placeholder='First Name'
        class='form-control'
        }}
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <label class='sr-only' for="middle_name">Middle Name</label>
        {{input
        type='text'
        placeholder='Middle Name'
        value=newMiddleName
        class='form-control'
        }}
      </div>
    </div>
    <div class='col-md-5'>
      <div class="form-group">
        <label class='sr-only' for="last_name">Last Name</label>
        {{input
        type='text'
        value=newLastName
        placeholder='Last Name'
        class='form-control'
        }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="form-group">
        <label class='sr-only' for="date_of_birth">Date of Birth</label>
        {{bootstrap-datepicker
        value=newDateOfBirth
        startView=2
        autoclose=true
        placeholder='Date Of Birth'
        class='form-control'
        }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="form-group">
        <label class='sr-only' for="email">Email</label>
        {{input
        type='text'
        value=newEmail
        placeholder='Email'
        class='form-control'
        }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="form-group">
        <label class='sr-only' for="password">Password</label>
        {{input
        type='password'
        value=newPassword
        placeholder='Password'
        class='form-control'
        }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <button class='btn btn-primary' {{action 'createStudent'}}>Create Student</button>
    </div>
  </div>
</div>
