{{#if isANotice}}
  {{factsNotice}}
{{/if}}
<div class="filters-control">
  {{#liquid-if showFilters}}
    <div class='filters-well'>
      <div class='row'>
        <div class='col-md-12'>
          <h3>
            Search
          </h3>
          {{input
            type='text'
            placeholder='Search'
            value=filter
            class='form-control filter-input'
          }}
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h3>
            Date Range Filter
          </h3>
          <div class='row raw-date-input'>
            <div class='col-md-4'>
              {{input
                value=newFromDate
                class='form-control'}}
            </div>
            <div class='col-md-4 col-md-offset-4'>
              {{input
                value=newToDate
                class='form-control'}}
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='input-two-range'>
                {{input
                  type='range'
                  min=minDate
                  max=maxDate
                  class='pull-left'
                  value=newFromDate}}
                {{input
                  type='range'
                  min=minDate
                  class='pull-right'
                  max=maxDate
                  value=newToDate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/liquid-if}}
</div>
<div class='row fact-display-container'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-12'>
        <div class="btn-group fact-component" role="group" aria-label="...">
          <button class="btn btn-default btn-lg {{if cardType 'active'}}" {{action 'switchView' 'card'}}>
            <i class="fa fa-bars"></i>
            Card View
          </button>
          <button class="btn btn-default btn-lg {{if mapType 'active'}}" {{action 'switchView' 'map'}}>
            <i class="fa fa-map-marker"></i>
            Map View
          </button>
          <button class="btn btn-default btn-lg {{if timeType 'active'}}"  {{action 'switchView' 'time'}}>
            <i class="fa fa-pagelines"></i>
            Timeline View
          </button>
        </div>
        <div class='filter-items'>
          <button class='btn btn-fab btn-raised mdi-action-search btn-supplemental' {{action 'toggleFilters'}}>
          </button>
        </div>
      </div>
    </div>

      <!-- Default panel contents -->
    {{#if isForm}}
      <h2>
        Choose Some Facts:
      </h2>
    {{/if}}
    {{#if cardType}}
      <div class='cards'>
        {{#each rangeFilteredContent as |fact|}}
          <div class='card-grid'>
            {{add-fact-to-object action='showModal' fact=fact resetChecks=resetChecks addFactToCurriculum="addFactToCurriculum" isForm=isForm myFacts=myFacts}}
          </div>
        {{else}}
          {{empty-notice item='personal facts'}}
        {{/each}}
      </div>
    {{else if mapType}}
      <div class="panel panel-default facts-list-container">
        {{ol3-map facts=rangeFilteredContent action='showModal'}}
      </div>
    {{else if timeType}}
      <div class="panel panel-default facts-list-container">
        {{fact-timeline facts=rangeFilteredContent}}
      </div>
    {{/if}}
  </div>
</div>
