<div class="container-fluid">
  <div class="navbar-header">
    <button {{action 'mobileToggle'}} type="button" class="navbar-toggle {{if mobileShow 'active'}}" >
      <i class="fa fa-bars"></i>
    </button>
    {{#link-to 'index' class='navbar-brand'}}
      <i class="fa fa-history"></i> <span class="light">history</span>Seeker
    {{/link-to}}
  </div>
  <div class="{{if mobileShow 'in' '' }} collapse navbar-collapse">
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
        {{#if isTeacher}}
          {{#link-to 'user.index' tagName='li' href=false}}
            {{link-to 'Students' 'user.index'}}
          {{/link-to}}
          {{#link-to 'user.curriculums' tagName='li' href=false}}
            {{link-to 'Curriculums' 'user.curriculums'}}
          {{/link-to}}
        {{/if}}
        {{#link-to 'user.all-facts' tagName='li' href=false}}
          {{link-to 'All Facts' 'user.all-facts'}}
        {{/link-to}}
      {{else}}
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        {{#link-to 'about' tagName='li' href=false}}
          {{link-to 'About' 'about'}}
        {{/link-to}}
        {{#link-to 'how-it-works' tagName='li' href=false}}
          {{link-to 'How it Works' 'how-it-works'}}
        {{/link-to}}
        {{#link-to 'contact' tagName='li' href=false}}
          {{link-to 'Contact' 'contact'}}
        {{/link-to}}

      {{/if}}
    </ul>
    {{auth-menu session=session current_user=current_user}}
  </div>
</div>
