<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action 'closeModal'}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{model.title}}</h4>
      </div>
      <div class="modal-body">
        <p>
          {{markdown-section content=model.description}}
        </p>
        <div class='map-container'>
          {{google-map lat=unboundLat
                     lng=unboundLng
                     zoom=zoom
                     markers=markers
                     gopt_zoomControl=false}}

          <div class="controls">
            <label>
              {{zoom}}
              Zoom:
              {{input type="range" value=zoom min=0 max=18 step=1}}
            </label>
          </div>
        </div>
        <p>
          <strong>Latitude:</strong> {{model.lat}}
          <strong>Longitude:</strong> {{model.lng}}
        </p>
        <p>
          <strong>
            Started:
          </strong>
          {{moment model.start_date "MMMM Do YYYY"}}
          <strong>
            Ended:
          </strong>
          {{moment model.end_date "MMMM Do YYYY"}}
        </p>
        {{#if model.hasLink}}
          <p>
            <a href='{{model.additional_info_link}}' target='_blank'>
              Click here for Additional Information.
            </a>
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
