{{add-fact store=store current_user=current_user addCreate=true addFactToCurriculum='addFactToCurriculum'}}
<div class='form-group'>
  <label class='sr-only' for='new-curriculum-title'>
    Title
  </label>
  {{input
    type='text'
    placeholder='Title'
    name='new-curriculum-title'
    class='form-control'
    value=newTitle
  }}
</div>
<div class='form-group'>
  {{textarea
    placeholder='Description'
    class='form-control'
    value=newDescription
  }}
</div>
<h2>
  Choose Some Facts:
</h2>
<h3>My Facts</h3>
{{filterable-facts action='showModal' content=model.myFacts resetChecks=resetChecks addFactToCurriculum='addFactToCurriculum' myFactsAddCurriculum='myFacts'}}
<h3>All Facts</h3>
{{filterable-facts action='showModal' content=model.allFacts resetChecks=resetChecks addFactToCurriculum='addFactToCurriculum' myFactsAddCurriculum='allFacts'}}
<ul>
  {{#each factsToAdd key='@index' as |addedFact|}}
    <li>{{addedFact.title}}</li>
  {{/each}}
</ul>
<div class='form-group'>
  <button class='btn btn-primary' {{action 'saveNewCurriculum'}}>Save Curriculum</button>
</div>
