<div class='form-group'>
  <label class='sr-only' for='new-curriculum-title'>
    Title
  </label>
  {{input
    type='text'
    placeholder='Title'
    name='new-curriculum-title'
    class='form-control'
    value=newTitle
  }}
</div>
<div class='form-group'>
  {{textarea
    placeholder='Description'
    class='form-control'
    value=newDescription
  }}
</div>
{{filterable-facts action='showModal' content=facts resetChecks=resetChecks addFactToCurriculum='addFactToCurriculum'}}
<ul>
  {{#each factsToAdd as |addedFact|}}
    <li>{{addedFact.title}}</li>
  {{/each}}
</ul>
<div class='form-group'>
  <button class='btn btn-primary' {{action 'saveNewCurriculum'}}>Save Curriculum</button>
</div>
