{{#if isTeacher}}
  {{#each current_user.students as |student|}}
    {{student-item student=student}}
  {{/each}}
  <button class='btn btn-primary btn-fab mdi-social-person-add pull-right' {{action 'toggleCreating'}}>
  </button>
  {{#liquid-if isCreating}}
    {{create-student store=controller.store current_user=current_user action='toggleCreating'}}
  {{/liquid-if}}
{{else}}
  <h3> Teacher: {{current_user.teacher.fullName}} </h3>
{{/if}}
