{{#if isTeacher}}
  <div class='cards'>
    {{#each current_user.students key='@index' as |student|}}
      <div class='card-grid'>
        {{student-item store=store student=student}}
      </div>
    {{else}}
      {{empty-notice item='students'}}
    {{/each}}
  </div>
  <button class='btn btn-primary btn-fab mdi-social-person-add btn-add' {{action 'toggleCreating'}}>
  </button>
  {{#liquid-if isCreating}}
    {{create-student store=store current_user=current_user action='toggleCreating'}}
  {{/liquid-if}}
{{else}}
  <div class='cards'>
    {{#each current_user.teacher.curriculums key='@index' as |curriculum|}}
      {{curriculum-card curriculum=curriculum}}
    {{else}}
      {{empty-notice item='curriculums'}}
    {{/each}}
  </div>
  {{#link-to 'user.add-curriculum' class='btn btn-primary btn-fab mdi-content-add btn-add' }}
  {{/link-to}}
{{/if}}
