{{#if isTeacher}}
  <ul class="list-group">
    {{#each current_user.students as |student|}}
      {{student-item student=student}}
    {{/each}}
    <li class='list-group-item'>
      <button class='styless-button' {{action 'toggleCreating'}}>
        {{fa-icon "plus"}} add student
      </button>
      {{#liquid-if isCreating}}
        {{create-student store=controller.store current_user=current_user action='toggleCreating'}}
      {{/liquid-if}}
    </li>
  </ul>

{{else}}
  <h3> Teacher: {{current_user.teacher.fullName}} </h3>
{{/if}}
