{{#if isTeacher}}
  <div class='cards'>
    {{#each current_user.students as |student|}}
      <div class='card-grid'>
        {{student-item store=controller.store student=student}}
      </div>
    {{/each}}
  </div>
  <button class='btn btn-primary btn-fab mdi-social-person-add btn-add' {{action 'toggleCreating'}}>
  </button>
  {{#liquid-if isCreating}}
    {{create-student store=controller.store current_user=current_user action='toggleCreating'}}
  {{/liquid-if}}
{{else}}
  <div class='cards'>
    {{#each current_user.teacher.curriculums as |curriculum|}}
      {{curriculum-card curriculum=curriculum}}
    {{/each}}
  </div>
  {{#link-to 'user.add-curriculum' class='btn btn-primary btn-fab mdi-content-add btn-add' }}
  {{/link-to}}
{{/if}}
