{{#if isTeacher}}
  <div class='cards'>
    {{#each current_user.students key='@index' as |student|}}
      {{#if student.id}}
        <div class='card-grid'>
          {{student-item store=store student=student}}
        </div>
      {{/if}}
    {{else}}
      {{empty-notice emptyNotice='It looks like you do not have any students yet. <br> Why not add one?'}}
    {{/each}}
  </div>
  <button class='btn btn-primary btn-fab mdi-social-person-add btn-add' {{action 'toggleCreating'}}>
  </button>
  {{#liquid-if isCreating}}
    {{create-student store=store current_user=current_user action='toggleCreating'}}
  {{/liquid-if}}
{{else}}
  <div class='cards'>
    <h3>Your Teacher&apos;s Fact Collections</h3>
    {{#each current_user.teacher.curriculums as |curriculum|}}
      {{curriculum-card curriculum=curriculum}}
    {{else}}
      {{empty-notice emptyNotice='It looks like your teacher does not have any fact collections yet.' hasArrow=false}}
    {{/each}}
    <h3>Your Fact Collections</h3>
    {{#each current_user.curriculums as |curriculum|}}
      {{curriculum-card curriculum=curriculum}}
    {{else}}
      {{empty-notice emptyNotice='It looks like you do not have any fact collections yet. <br> Why not create one?'}}
    {{/each}}
  </div>
  {{#link-to 'user.add-curriculum' class='btn btn-primary btn-fab mdi-content-add btn-add' }}
  {{/link-to}}
{{/if}}
