{{#if isTeacher}}
  <div class='cards'>
    {{#each current_user.students as |student|}}
      <div class='card-grid'>
        {{student-item student=student}}
      </div>
    {{/each}}
  </div>
  <button class='btn btn-primary btn-fab mdi-social-person-add btn-add' {{action 'toggleCreating'}}>
  </button>
  {{#liquid-if isCreating}}
    {{create-student store=controller.store current_user=current_user action='toggleCreating'}}
  {{/liquid-if}}
{{else}}
  <h3> Teacher: {{current_user.teacher.fullName}} </h3>
{{/if}}
