{{video-bg}}
{{#pre-auth-wrapper}}
  {{navigation-component session=session current_user=current_user}}
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 index-item-container">
            {{index-logo}}
            <ul class='big-action'>
              <li>{{link-to 'login' 'session.new'}}</li>
              <li> | </li>
              <li><a href='https://signup.historyseeker.com/charges/new'>sign up</a></li>
              <li> | </li>
              <li>{{link-to 'learn more' 'about'}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
{{/pre-auth-wrapper}}
