<header>
  <h1>
    {{#link-to 'index'}}
      <i class="fa fa-history"></i> <span class="light">history</span>Seeker
    {{/link-to}}
  </h1>
</header>
<main>
  <div class='page-header'>
    <h2>
      {{link-to current_user.fullName 'user.index'}}
    </h2>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <ul class="list-unstyled">
        {{#if isTeacher}}
          <li>{{#link-to 'user.index'}}{{fa-icon "plus"}} Students{{/link-to}}</li>
          <li>{{#link-to 'user.curriculums'}}{{fa-icon "plus"}} Curriculums{{/link-to}}</li>
          <li>{{#link-to 'user.add-student'}}{{fa-icon "plus"}} add student{{/link-to}}</li>
          <li>{{#link-to 'user.add-fact'}}{{fa-icon "plus"}} add fact{{/link-to}}</li>
          <li>{{#link-to 'user.add-curriculum'}}{{fa-icon "plus"}} add curriculum{{/link-to}}</li>
        {{else}}
          I&apos;m a student
          {{#each current_user.teacher.curriculums as |curriculum|}}
            <li>{{#link-to 'user.curriculum.show' curriculum}}{{fa-icon "plus"}} Curriculum {{curriculum.title}}{{/link-to}}</li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
    <div class='col-md-10'>
      {{outlet}}
    </div>
  </div>
</main>
