<header>
  {{navigation-component session=session current_user=current_user}}
</header>
{{#liquid-if alertPresent}}
  <div class='alert alert-info'>
    {{current_user.teacher.fullName}} has given you an assignment:
    <strong>
      {{current_user.assignment}}
    </strong>
    <button type="button" class="close" {{action 'dismissAlert'}}><span aria-hidden="true">&times;</span></button>
  </div>
{{/liquid-if}}
<main>
  <div class='page-header'>
    <h2>
      {{link-to current_user.fullName 'user.index'}}
    </h2>
  </div>
  <div class='row'>
    {{#unless isTeacher}}
      <div class='col-md-2'>
        <ul class="list-unstyled">
          <li><h4>Curriculums</h4></li>
          {{#each current_user.teacher.curriculums as |curriculum|}}
            <li>{{#link-to 'user.curriculum.show' curriculum}}{{curriculum.title}}{{/link-to}}</li>
          {{/each}}
          <li>{{#link-to 'user.add-curriculum'}}Create Curriculum{{/link-to}}</li>
        </ul>
      </div>
    {{/unless}}
    <div class="{{if isTeacher 'col-md-12' 'col-md-10'}}">
      {{outlet}}
    </div>
  </div>
</main>
